<div class="footer <%= cookies[:theme] %>">
      <div class="footer-copyright">
        Painel de desempenho institucional - 2020 <i class="far fa-chart-bar"></i>
      </div>
      <div class="footer-links <%= cookies[:theme] %>">
        <a href="#">Sobre nós</a>
        <a href="#">Ajuda</a>
        <a href="#">Contatos</a>
      </div>
</div>
