<div class="container">
<div class="container-home"><%= image_tag "line_chart.png", class:"home-img" %>


</div>

<div class="container-home"><h3>Explore os indicadores de desempenho da sua organização com painéis personalizáveis.</h3></div>
<div class="container-home">
<%= link_to 'Acesse os painéis', dashboard_path(0), class: "btn btn-primary", data: {turbolinks: 'false'} %>
</div>
</div>