
   <div class="container">
   

      <div class="dashboard">
        <div class="dashboard-card main">
          <div class="dashboard-card-content">
            <img url(<%= image_url("barra_horizontal.jpg") %>), alt="" width="150" class="img-circle">
            <h2>Receita Federal</h2>
            <p>Indicadores</p>
            <a href="#" class="btn btn-primary btn-lg">Acesse</a>
          </div>
        </div>
        <div class="dashboard-card stat">
          <div class="dashboard-card-content" >
            <h3>3,536</h3>
            <p>Arrecadação</p>
          </div>
        </div>
        <div class="dashboard-card stat">
          <div class="dashboard-card-content">
            <h3>758</h3>
            <p>Fiscalizações</p>
          </div>
        </div>
        <div class="dashboard-card stat">
          <div class="dashboard-card-content">
            <h3>119</h3>
            <p>Autuações</p>
          </div>
        </div>
        <div class="dashboard-card description">
          <div class="dashboard-card-content">
            <h3>Personalize seu painel</h3>
            <p class="text-justify">
              Escolha outros indicadores para acompanhar.
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>