.dashboard {
  width: 1600px;
  margin: 20px auto;
}


.dashboard-card {
  background: #fafbfe;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  background-clip: border-box;
  border-radius: 4px;
}

.dashboard-card-single {
  width: 380px;
  height: 400px;
  margin-bottom: 24px;
}

.dashboard-card-double {
  width: 780px;
  height: 400px;
}

.dashboard-card-content {
  background: #fafbfe;
  padding: 4px;
  margin: 4px;
  text-align: center;
}

.dashboard-nome {
  height: 40px;
  margin: 0 2px;
}

.dashboard-plus {
  color: $my-gray;
}

.dashboard-plus .i:hover {
  opacity: 0.3;
}

.dashboard-card.dark{
  background: rgb(55, 64, 74);
  color: #8391a2!important;
  background-clip: border-box;
  box-shadow: 0 0 35px 0 rgba(49,57,66,.5);
  margin-bottom: 24px;
  border: none;
}


.dashboard-card-content.dark{
  background: rgb(55, 64, 74);
  color: #8391a2!important;
}

// @media (max-width: 992px) {
//   .dashboard {
//     display: block;
//   }
// }

/* Fonts and colors */
.dashboard h2 {
  font-size: 28px;
  color: $my-green;
  margin-bottom: 16px;
}
.dashboard h3 {
  color: $my-green;
  font-size: 24px;
  margin-bottom: 8px;
}

.dashboard h4 {
  color: $my-green;
  font-size: 16px;
  margin-bottom: 8px;
}

.dashboard h5 {
  color: $my-green;
  font-size: 12px;
  margin-bottom: 4px;
}

.dashboard h6 {
  color: $my-green;
  font-size: 12px;
  margin-bottom: 4px;
}

.dashboard p.dark {
  color: #8391a2!important;
  font-size: 16px;
}

.dashboard-card-content p.dark{
  background: rgb(55, 64, 74);
  color: #8391a2!important;
}

.dashboard img {
  border-radius: 50%;
}

.dashboard .btn {
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 30px;
  background:  $my-green;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
}
.dashboard .btn:hover {
  background:  $my-green;
  opacity: 0.7;
}

// .main p {
//   margin-bottom: 30px;
// }

// body {
//  margin: 0;
//  font-family: 'Nunito sans', sans-serif;
//  font-size: 18px;
//  font-weight: 300;
//  background-color:#e6e0e0;
//
// }
// p {
//  font-weight: lighter;
// }
// h1, h2, h3 {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: bold;
// }
// h1 {
//   font-size: 30px;
// }
// h2 {
//   font-size: 25px;
//   margin-bottom: 20px;
// }
// h3 {
//   font-size: 23px;
// }
