.footer {
  background: #f0eaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-top: 1px solid rgba(152,166,173,.2);
  bottom: 0;
  padding: 50px 24px 20px;
  color: rgb(152, 166, 173);
  font-weight: 400px;
  line-height: 1.5;
 }

.footer-links {
  display: flex;
  
}
.footer-links a {
  opacity: 0.80;
  color:gray;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-chart-bar {
  padding:10px 10px;
  font-size: 25px;
}

.footer.dark{
  background-color: rgb(52, 58, 64);
  color:gray;
}

.footer-links a.dark{
  color:gray
}
