.navbar-lewagon {
  justify-content: space-between;
  background: #04576262;
  box-shadow: #02232762 0px 0.125rem 0.25rem !important;
  padding-left: 30px;
  padding-right: 50px;
  font-weight: 400px;
  line-height: 1.5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  
}
.nav-link {
  font-size: 15px;
}

.navbar p {
  padding-top: 15px;
  color: white;
  font-size: 24px;
}

.navbar table tr td {
  vertical-align: text-bottom;
}

.n-link{
  color:white;
  font-size:20px;
  padding-top: 50px;
}

.navbar-nav{
  align-items: center;
}