.navbar-lewagon {
  justify-content: space-between;
  background: #04576262;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  
}
.nav-link {
  font-size: 15px;
}