.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification.dark{
  background: rgb(55, 64, 74);
  color: #8391a2!important;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-size: 18px;
}

.notification small {
  color: rgba(18, 9, 61, 0.746);
  font-weight: bold;
  font-size: 18px;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 20px;
  font-size: 12px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
