.cores-tb{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400px;
  background-color:#f0eaea;
  line-height: 1.5;
  color: rgb(131, 143, 156);
}

.cores-tb.dark{
  color:#aab8c5;
  background-color:rgb(52, 58, 64);

}

.tab-link {
  color:rgb(131, 143, 156);
  text-decoration: none;
 }
 
.tab-link:hover {
  color:rgb(78, 77, 77);
}