// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/notification";

body.light {
  color:rgb(52, 58, 64);
  background-color:#f0eaea;
}
body.dark {
  color: white;
  background-color:rgb(52, 58, 64);
}

body {
  margin: 0;
  font-family: 'Nunito sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color:#e6e0e0;
 
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
