// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/notification";
// @import "css/dsgov.min";

body.dark {
  color: rgb(255, 255, 255);
  background-color:rgb(52, 58, 64);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400px;
  background-color:#f0eaea;
  line-height: 1.5;
  color: rgb(131, 143, 156); 
  text-align: left;
 
}

a{
  color:rgb(131, 143, 156); 
}


h1, h2, h3 {
  font-family: 'Nunito sans', sans-serif;
  font-weight: bold;
  
}

.container h1{
  padding-left: 12px;
  font-weight: 600px;
  
}

